<ul class="navbar-nav">
  <li class="nav-item">
    <%= link_to translate('users'), users_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to translate('account'), account_tips_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
<<<<<<< HEAD
    <%= link_to translate('logout'), @sessions, method: :delete, class: 'nav-link' %>
=======
    <%= link_to translate('logout'), @users, method: :delete, class: 'nav-link' %>
>>>>>>> 6ecf52b487d03c972ac8b90ad4354415e6062b92
  </li>
</ul>
